<body>
    <ul>
      <li><a routerLink = '/home'>Home</a></li>
      <li><a routerLink = '/tutorial'>Tutorial</a></li>
      <li><a routerLink = '/contact'>Contact</a></li>
      <li><a class="active" routerLink = '/about'>About</a></li>
    </ul>
    </body>
    <div class="about-section">
        <h1>About Us</h1>
      </div>
      <h2 style="text-align:center">Team 6</h2>


      <div class="row">
        <div class="column">
          <div class="card">
            <!-- <img src="/teamPhotos/download.png" alt="Brandon" style="width:100%"> -->
            <div class="container">
              <h2>Brandon Cheu</h2>
              <p class="title">Senior</p>
              <p>San Jose State University</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
             <!-- <img src="/teamPhotos/download.png" alt="Alex" style="width:100%"> -->
            <div class="container">
              <h2>Alex Montegomery</h2>
              <p class="title">Senior</p>
              <p>San Jose State University</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!-- <img src="/teamPhotos/download.png" alt="Justin" style="width:100%"> -->
            <div class="container">
              <h2>Justin Leung</h2>
              <p class="title">Senior</p>
              <p>San Jose State University</p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <!-- <img src="src\app\about\teamPhotos\download.png" alt="Phoebe" style="width:100%"> -->
              <div class="container">
                <h2>Phoebe Fung</h2>
                <p class="title">Senior</p>
                <p>San Jose State University</p>
              </div>
            </div>
          </div>
      </div>