<body style ="background-color: #474e5d;">
  <ul class = "options">
    <li style ="float: left"><a class="active" routerLink = '/home'>Home</a></li>
    <li style ="float: left"><a routerLink = '/tutorial'>Tutorial</a></li>
    <li style ="float: left"><a routerLink = '/contact'>Contact</a></li>
    <li style ="float: left"><a routerLink = '/about'>About</a></li>
  </ul>
  <br>
 
  <div class = "boxed2">{{this.currentRoom.getName()}}<br>
{{description}}
</div>
  <ng-container >
    <img class="center" [src]="this.currentRoom.getImagePath()" style="height:500px; width:500px"/>
   </ng-container>

  <br>
  <ul (keydown)="keyMap($event)" class = "boxed" style ="list-style-type: none" >
    <li *ngIf="question != '' ">{{question}}</li>
    <li *ngFor = "let option of options; let i = index"> 
      <br>  
        <div *ngIf="i === index; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock> > {{option.m}}</ng-template>
          <ng-template #elseBlock>{{option.m}}.</ng-template>

      <br>
  </li>
  </ul>
  <!-- <app-tests> </app-tests> -->
  <!--img src="/assets/images/castle.gif" height="100%" width="100%"/-->
</body>