<body>
    <ul>
      <li><a class="active" routerLink = '/home'>Home</a></li>
      <li><a routerLink = '/tutorial'>Tutorial</a></li>
      <li><a routerLink = '/contact'>Contact</a></li>
      <li><a routerLink = '/about'>About</a></li>
    </ul>
    <div #canvasWrapper class="canvas-wrapper" (window:resize)="draw()">
      <canvas id="wfcanvas" #canvasId
         [height]="canvasWrapper.offsetHeight" 
         [width]="canvasWrapper.offsetWidth">
      </canvas>
    </div>
    <!-- <div [style.background-image]="'url(/assets/images/{{imageName}})'"></div>
    <div [style.background-image]="'url(/assets/images/castle.gif)'" [style.background-size]= "'cover'" >
      <div width="100vh" height="100vh" style="opacity: .5; background-color: black;">
        <img src="/assets/images/1.gif">
      </div>
    </div> -->

    <ng-container>
      <img [src]="rooms[roomNum].getImagePath()" style="height:500px; width:500px"/>
     </ng-container>

    <br>
    <div class = "boxed" style = "font: textFont">Press Up Key: To Move North <br>          
      Press Down Key: To Move South <br>
      Press Right Key: To Move East <br> 
      Press Left key: To Move West <br>
      <input (keydown)="keyMap($event)">
    </div>
    <!-- <app-tests> </app-tests> -->
    <!--img src="/assets/images/castle.gif" height="100%" width="100%"/-->
</body>

