<body style ="background-color: #474e5d;">
    <ul>
      <li><a class="active" routerLink = '/home'>Home</a></li>
      <li><a routerLink = '/tutorial'>Tutorial</a></li>
      <li><a routerLink = '/contact'>Contact</a></li>
      <li><a routerLink = '/about'>About</a></li>
    </ul>
    <br>
    <!-- <div #canvasWrapper class="canvas-wrapper" (window:resize)="draw()">
      <canvas id="wfcanvas" #canvasId
         [height]="canvasWrapper.offsetHeight" 
         [width]="canvasWrapper.offsetWidth">
      </canvas> -->
    <!-- </div> -->
    <!-- <div [style.background-image]="'url(/assets/images/{{imageName}})'"></div>
    <div [style.background-image]="'url(/assets/images/castle.gif)'" [style.background-size]= "'cover'" >
      <div width="100vh" height="100vh" style="opacity: .5; background-color: black;">
        <img src="/assets/images/1.gif">
      </div>
    </div> -->
<div class = "boxed2">Dialogue:<br>
Fuckers in school telling me always in the barber shop
"Chief keef aint bout this chief keef aint bout that"
My boy a BD on fucking lamron and them 
he he they say that man dont be putting in no work
shut the fuck up
</div>
    <ng-container >
      <img class="center" [src]="rooms[roomNum].getImagePath()" style="height:500px; width:500px"/>
     </ng-container>

    <br>
    <ul class = "boxed" >
    <li  *ngFor = "let option of options; let i = index" > 
     <br>{{option.option}}<br>
    </li>
    <input (keydown)="keyMap($event)" placeholder="Click then make selection">
    </ul>
    <!-- <app-tests> </app-tests> -->
    <!--img src="/assets/images/castle.gif" height="100%" width="100%"/-->
</body>

